### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd
ps=pd.Series([4,8,15,23,42])
ps

0     4
1     8
2    15
3    23
4    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [9]:
list1=[1,2,4,57,88,9,'fhdj',99,777,5.677]
ps1=pd.Series(list1)
ps1

0        1
1        2
2        4
3       57
4       88
5        9
6     fhdj
7       99
8      777
9    5.677
dtype: object

### Q3. Create a Pandas DataFrame that contains the following data:

In [10]:
data={"Name":['Alice','Bob','Clarie'],'Age':[25,30,27],'Gender':['Female','Male',"Female"]}
df=pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

* A pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. It can also be thought of as a collection of two or more series with common indices.

* 1)Series are 1-D, whereas Dataframe are 2-D. 2)Series consists of homogeneous data, whereas dataframe consists of heterogeneous data. 3)series are value mutable whereas dataframe are not.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

* df.head()
This function helps you to get the first few rows of the dataset. By default, it returns the first 5 rows. However, you can change this number by simply mentioning the desired number of rows in df.head()

* df.tail()
This function helps you to get the last few rows of the dataset. By default, it returns the last 5 rows, and similar to .head(), you can simply mention the desired number of rows in df.tail()

* df.sample()
This function is used to get a randomly selected row, column, or both from a dataset. df.sample() takes 7 optional parameters, which means this function can be run without using any argument.

* df.describe()
This function returns descriptive statistics about the data. This includes minimum, maximum, mean (central tendency), standard deviation (dispersion) of the values in numerical columns, and the count of all non-null values in the data

* df.info()
This function returns a quick summary of the DataFrame. This includes information about column names and their respective data types, missing values, and memory consumption by DataFrame,

* df.loc
This function is a property of DataFrame that returns the group of rows and columns identified by their labels or names.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

* Data Frames is nature of mutuable

* Mutability. All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [12]:
name_series=pd.Series(['Alice','Bob','Clarie'])
age_series=pd.Series([25,30,27])
geneder_series=pd.Series(['Female','Male',"Female"])
data={'Name':name_series,'age':age_series,'Gender':geneder_series}
data_frame=pd.DataFrame(data,index=[1,2,3])
data_frame

     Name   age  Gender
1     Bob  30.0    Male
2  Clarie  27.0  Female
3     NaN   NaN     NaN